@model Tarun.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h2>Membership Contact</h2>
<link href="~/css/Style11.css" rel="stylesheet" />
<html lang="en">
<body>

    <div class="container">      
        <h3>Service Provider Membership Contact</h3>
        <h3>Please Complete All The Fields Below:</h3>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="APT_House" class="control-label"></label>
                        <input asp-for="APT_House" class="form-control" />
                        <span asp-validation-for="APT_House" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Province" class="control-label"></label>
                        <select asp-for="Province" class="form-control">
                            <option value="ON">ON</option>
                            <option value="BC">BC</option>
                            <option value="AB">AB</option>
                            <option value="MB">MB</option>
                            <option value="NB">NB</option>
                            <option value="NL">NL</option>
                            <option value="NS">NS</option>
                            <option value="NT">NT</option>
                            <option value="NU">NU</option>
                            <option value="PE">PE</option>
                            <option value="QC">QC</option>
                            <option value="SK">SK</option>
                            <option value="YT">YT</option>
                        </select>
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostalCode" class="control-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <select asp-for="Country" class="form-control">
                            <option value="Canada">Canada</option>
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Finish" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small">

        <div id="social-networks">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Get connected with me on social networks!</h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic" href="http://facebook.com/asaddc95">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic" href="https://www.linkedin.com/in/asad-mahmood-5365829b/">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" href="https://www.instagram.com/asaddc/">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Any Questions?</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 140px;">
                    <p>
                        If you have any questions or wish to talk about anything, please give me a call, or an email and
                        we can set
                        something up!
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Have you Registered?</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 85px;">
                    <p>
                        <a href="Identity/Account/Register">Register</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contact">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 78px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Scarborough, Ontario
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> <a href="mailto:sharmanira@hotmail.com"> Email Nira!</a>
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> (647) 907 9677
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->


        <div class="footer-copyright text-center py-3">
            2019: Tarun Consulting
        </div>


    </footer>
    <script src="~/js/membership.js"></script>

</body>

</html>



