@model Tarun.Models.ServiceRequest

@{
    ViewData["Title"] = "Create";
}

<h4>Service Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service_RequesterID" class="control-label"></label>
                <select asp-for="Service_RequesterID" class ="form-control" 
                        asp-items="@(new SelectList(ViewBag.Service_Requesters,"Service_RequesterID","Email"))">
                </select>
                <span asp-validation-for="Service_RequesterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceID" class="control-label"></label>
                <select asp-for="ServiceID" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Services,"ServiceID","ServiceName"))">
                </select>
                <span asp-validation-for="ServiceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SRStartTime" class="control-label"></label>
                <input asp-for="SRStartTime" class="form-control" />
                <span asp-validation-for="SRStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SREndTime" class="control-label"></label>
                <input asp-for="SREndTime" class="form-control" />
                <span asp-validation-for="SREndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APT_House" class="control-label"></label>
                <input asp-for="APT_House" class="form-control" />
                <span asp-validation-for="APT_House" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" >
                     <option value="Open">Open</option>
                     <option value="closed">Closed</option>
                     <option value="assigned">Assigned</option>
                     <option value="cancel">Cancel</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

