@model Tarun.Models.Admin

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminFirstName" class="control-label"></label>
                <input asp-for="AdminFirstName" class="form-control" />
                <span asp-validation-for="AdminFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminLastName" class="control-label"></label>
                <input asp-for="AdminLastName" class="form-control" />
                <span asp-validation-for="AdminLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportID" class="control-label"></label>
                <input asp-for="ReportID" class="form-control" />
                <span asp-validation-for="ReportID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceID" class="control-label"></label>
                <input asp-for="ServiceID" class="form-control" />
                <span asp-validation-for="ServiceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceRequestID" class="control-label"></label>
                <input asp-for="ServiceRequestID" class="form-control" />
                <span asp-validation-for="ServiceRequestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactID" class="control-label"></label>
                <input asp-for="ContactID" class="form-control" />
                <span asp-validation-for="ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service_RequesterID" class="control-label"></label>
                <input asp-for="Service_RequesterID" class="form-control" />
                <span asp-validation-for="Service_RequesterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service_ProviderID" class="control-label"></label>
                <input asp-for="Service_ProviderID" class="form-control" />
                <span asp-validation-for="Service_ProviderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
